{% extends 'layout.html' %}

{% block title %}ORDERS{% endblock %}
{% block body %}
<center>
    <h1>ORDERS</h1>
</center>

<center>
{% for item in orders %}
<div>
    <h1>{{ item.user.username }}</h1>
    {% if item.promocode is not None %}
    <h2>'{{ item.promocode }}' promocode</h2>
    {% endif %}
    <h3>{{ item.trip.country }}</h3>
    <h3>{{ item.trip.duration }} days</h3>
    <h3>{{ item.trip.hotel.name }} hotel</h3>
    <h3>{{ item.trip.hotel.price_per_night }} usd per night</h3>
    <h3>full price: {{ item.price }} usd</h3>
</div>
{% endfor %}
</center>

{% endblock %}